
.container{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
}
.frame{
    width:500px;
    height:300px;
    background:yellow;
}
.score{
    padding-top:20px;
}

.dot{
    position:relative;
    width:20px;
    height:20px;
    border-radius:15px;
    background:black;
}
#input:focus{
    outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width:50px;
  text-align: center;
  font-size:20px;
}
.button{
  padding:15px;
  width:105px;
  color:white;
  background:tomato;
  border:none;
}
.button:hover{
  background:rgb(238, 56, 24);
  cursor: pointer;
}