.greeting{
    text-align: center;
    color:black;
    font-size:60px;
    padding-top:40px;
    font-family: 'Cute', sans-serif;
}
.circle_moon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-650px;
    margin-top:-300px;
    height: 400px;
    width: 400px;
    box-shadow: -35px 20px rgb(234, 234, 234);
    border-radius: 50%;  
}
.clock-frame{
    width:400px;
    height:400px;
    border:5px solid black;
    border-radius:200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left:-200px;
}
.clock-frame >.dot{
    width:10px;
    height:10px;
    position:absolute;
    margin-top:195px;
    margin-left:195px;
    background:black;
    border-radius:20px;

}
.line1{
    width:5px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-205px;
    margin-left:-2.5px;
    background:black;
}
.line2{
    width:5px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:165px;
    margin-left:-2.5px;
    background :black;
}
.line3{
    width:5px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-20px;
    margin-left:-187px;
    background :black;
    transform:rotate(90deg);
}
.line4{
    width:5px;
    height:40px;
    position:absolute;
    margin-top:180px;
    margin-left:382px;
    background :black;
    transform:rotate(90deg);
}
.span1{
text-align:center;
font-size:32px;
display:inline-block;
margin-top:32px;
margin-left:-13px;
font-weight:bold;
}
.span2{
font-size:32px;
display:inline-block;
position: absolute;
margin-top:-32px;
margin-left:-5px;
font-weight:bold;
}
.span3{
font-size:32px;
display:inline-block;
position: absolute;
margin-top:-32px;
margin-left:-5px;
font-weight:bold;
transform:rotate(-90deg)
}
.span4{
font-size:32px;
display:inline-block;
position: absolute;
margin-top:32px;
margin-left:-5px;
font-weight:bold;
transform: rotate(-90deg);
}
.stick_sec{
position:absolute;
width:150px;
height:6px;
border-radius:3px;
top:50%;
left:50%;
margin-top:2px;
margin-left:-145px;
background:black;
transform-origin:100% 50%;
}

.stick_min{
position:absolute;
width:125px;
height:10px;
border-radius:5px;
top:50%;
left:50%;
margin-top:0px;
margin-left:-120px;
background:black;
transform-origin:100% 50%;

}

.stick_hour{
position:absolute;
width:100px;
height:16px;
border-radius:8px;
top:50%;
left:50%;
margin-top:-3px;
margin-left:-95px;
background:black;
transform-origin:100% 50%;
}
.stars{
    display:none;
}
